<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Instagram image scroll</title>
	<link rel="stylesheet" type="text/css" href="/css/index.css">

</head>
<body>
	<div class='container'>
		<form action='/' method='post' class="ghost">
			<input type="text" name="tag" placeholder="Tag to search" required>
			<input type="submit" class="" value="Get Images">
		</form>
	</div>
	<% if(imgurl !== null) { %>
		<script src="/js/photoscroll.js"></script>
		<script src="/js/populateDiv.js"></script>
		<div id='newimg' class="imgs">
			  <script>
				var imgurl = '<%= imgurl%>'
				 addImg(imgurl.split(',')) 
			 </script>   
		</div>

	<% } %>

	<% if(error !== null){ %>
		<p><%= error %></p>
	<% } %>

</body>
</html>

